@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .flexrc {
    @apply flex justify-center items-center;
  }
  .flexcc {
    @apply flex flex-col justify-center items-center;
  }
  .btn {
    @apply active:brightness-90 active:scale-95;
  }
  .btn-primary {
    @apply btn text-center bg-primary text-white;
  }
  .btn-secondary {
    @apply btn text-center text-primary border-[1.5px] border-primary border-solid;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
