.banners .slick-slide {
  padding: 0 1rem;
}

.banners .slick-dots {
  position: unset;
}

.banners .slick-dots li {
  width: 0.5rem;
  height: 0.5rem;
  transition: 0.5s;
}

.banners .slick-dots .slick-active {
  width: 2rem;
  height: 0.5rem;
}

.banners .slick-dots .slick-active button {
  background: #264a97;
  border-radius: 2rem;
}

.banners .slick-dots .dot {
  background: #a5a5a5;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  padding: 0;
}

.banners .slick-dots button::before {
  display: none;
}

@media screen and (max-width: 639px) {
  .banners .slick-dots li {
    width: 0.2rem;
    height: 0.2rem;
  }

  .banners .slick-dots .slick-active {
    width: 1rem;
    height: 0.2rem;
  }
}
