.slick-slide {
  padding: 0 1rem;
}

.slick-dots {
  position: unset;
}

.slick-dots li {
  width: 0.5rem;
  height: 0.5rem;
  transition: 0.5s;
}

.slick-dots .slick-active {
  width: 2rem;
  height: 0.5rem;
}

.slick-dots .slick-active button {
  background: #264a97;
  border-radius: 2rem;
}

.slick-dots .dot {
  background: #a5a5a5;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  padding: 0;
}

.slick-dots button::before {
  display: none;
}
